body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #1e1e2f, #2a2a40);
    font-family: Helvetica;
}

.div {
    background: #121929;
    padding: 2rem;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

button {
    background-color:#1e1e2f;
    color:#000000;
    font-size:large;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
}

input {
    background-color:#1e1e2f;
    color:#000000;
    font-size:large;
    font-weight:600;
    padding:10px 10px;
    border-radius: 30px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
}
