html, body {
    min-height: 100%;
}

html {
    background: linear-gradient(
        120deg,
        #1e1e2f,
        #2a2a40,
        #1b233a
    );
    background-attachment: fixed;
    background-size: 400% 400%;
    animation: gradientFlow 30s ease infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    font-family: Helvetica;
    gap: 32px;
    color: #ffffff;
}

.div {
    background: #121929;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 700px; /* säädä tätä */
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    background-color:#1e1e2f;
    color:#000000;
    font-size:large;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    color: #ffffff;
}

input {
    background-color:#1e1e2f;
    color: #ffffff;
    font-size:large;
    font-weight:600;
    padding:10px 10px;
    border-radius: 30px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
}

input::placeholder {
    color: #ffffff;
}
